Necessary libraries import and dataset initialization

In [3]:
import pandas as pd


df = pd.read_csv(r'C:\Users\Vanuhi\Desktop\heart-disiease-HI-analysis\heart_disease_health_indicators_BRFSS2015.csv')
df_total = df.copy()
df_total.head()

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

Dataset exploration

In [6]:
df_total.shape

(253680, 22)

In [7]:
df_total.describe().T

,count,mean,std,min,25%,50%,75%,max
HeartDiseaseorAttack,253680.0,0.094186,0.292087,0.0,0.0,0.0,0.0,1.0
HighBP,253680.0,0.429001,0.494934,0.0,0.0,0.0,1.0,1.0
HighChol,253680.0,0.424121,0.494210,0.0,0.0,0.0,1.0,1.0
CholCheck,253680.0,0.962670,0.189571,0.0,1.0,1.0,1.0,1.0
BMI,253680.0,28.382364,6.608694,12.0,24.0,27.0,31.0,98.0
Smoker,253680.0,0.443169,0.496761,0.0,0.0,0.0,1.0,1.0
Stroke,253680.0,0.040571,0.197294,0.0,0.0,0.0,0.0,1.0
Diabetes,253680.0,0.296921,0.698160,0.0,0.0,0.0,0.0,2.0
PhysActivity,253680.0,0.756544,0.429169,0.0,1.0,1.0,1.0,1.0
Fruits,253680.0,0.634256,0.481639,0.0,0.0,1.0,1.0,1.0
Veggies,253680.0,0.811420,0.391175,0.0,1.0,1.0,1.0,1.0
HvyAlcoholConsump,253680.0,0.056197,0.230302,0.0,0.0,0.0,0.0,1.0
AnyHealthcare,253680.0,0.951053,0.215759,0.0,1.0,1.0,1.0,1.0
NoDocbcCost,253680.0,0.084177,0.277654,0.0,0.0,0.0,0.0,1.0
GenHlth,253680.0,2.511392,1.068477,1.0,2.0,2.0,3.0,5.0
MentHlth,253680.0,3.184772,7.412847,0.0,0.0,0.0,2.0,30.0
PhysHlth,253680.0,4.242081,8.717951,0.0,0.0,0.0,3.0,30.0
DiffWalk,253680.0,0.168224,0.374066,0.0,0.0,0.0,0.0,1.0
Sex,253680.0,0.440342,0.496429,0.0,0.0,0.0,1.0,1.0
Age,253680.0,8.032119,3.054220,1.0,6.0,8.0,10.0,13.0
Education,253680.0,5.050434,0.985774,1.0,4.0,5.0,6.0,6.0
Income,253680.0,6.053875,2.071148,1.0,5.0,7.0,8.0,8.0

In [8]:
df_total.sample()

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
159272,0.0,0.0,0.0,1.0,24.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,4.0,4.0,4.0

In [9]:
df_total.isnull().sum()

HeartDiseaseorAttack    0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
Diabetes                0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

Renaming columns

In [10]:
df_total.columns

Index(['HeartDiseaseorAttack', 'HighBP', 'HighChol', 'CholCheck', 'BMI',
       'Smoker', 'Stroke', 'Diabetes', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

In [14]:
df_total = df_total.rename(columns={ 'HeartDiseaseorAttack': 'heart_dis_or_att', 'Smoker': 'smoker','HighBP': 'high_bp', 'HighChol':'high_chol', 'BMI': 'bmi', 'HvyAlcoholConsump': 'heavy_alc_cons', 'Stroke': 'stroke', 'Diabetes':'diabetes'})
df_total.head()

,heart_dis_or_att,high_bp,high_chol,CholCheck,bmi,smoker,stroke,diabetes,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

Separation of Categorical data from numerical

In [19]:
df_num = df_total[['bmi']]
df_cat = df_total[['heart_dis_or_att', 'high_bp', 'high_chol', 'smoker', 'stroke', 'diabetes']]

df_num.head()
df_cat.head()

df_total = df_total[['heart_dis_or_att', 'bmi', 'high_bp', 'high_chol', 'smoker', 'stroke', 'diabetes']]
df_total

        heart_dis_or_att   bmi  high_bp  high_chol  smoker  stroke  diabetes
0                    0.0  40.0      1.0        1.0     1.0     0.0       0.0
1                    0.0  25.0      0.0        0.0     1.0     0.0       0.0
2                    0.0  28.0      1.0        1.0     0.0     0.0       0.0
3                    0.0  27.0      1.0        0.0     0.0     0.0       0.0
4                    0.0  24.0      1.0        1.0     0.0     0.0       0.0
...                  ...   ...      ...        ...     ...     ...       ...
253675               0.0  45.0      1.0        1.0     0.0     0.0       0.0
253676               0.0  18.0      1.0        1.0     0.0     0.0       2.0
253677               0.0  28.0      0.0        0.0     0.0     0.0       0.0
253678               0.0  23.0      1.0        0.0     0.0     0.0       0.0
253679               1.0  25.0      1.0        1.0     0.0     0.0       2.0

[253680 rows x 7 columns]